navbarText = white

.navbar
	.navbar-brand
		color navbarText

	.navbar-text
		color navbarText
		.avatar
			height 25px
		.log-out
			color navbarText
			&:hover
				color darken(navbarText, 30%)
				text-decoration none

.jumbotron
	padding-top 54px

.footer
	background-color #101010
	color navbarText